.tgh-info-main-container
{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tgh-info-container
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    border:4px white solid;
    border-radius: 20px;
}

.tgh-event-cont
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    border:4px white solid;
    border-radius: 20px;
}

.tgh-game-score
{
    margin: 0;
    padding: 5% 10% 5% 10%;
    height: 25%;
    width: 100%;
    border-bottom: 3px white solid;
}

.tgh-title
{
    margin: 0;
    padding: 0;
    width: 100%;
    color:yellowgreen;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tgh-team-score-cont
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white;
}

.tgh-score-scop
{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.tgh-info-cont
{
    margin: 0;
    padding: 0% 5% 5% 5%;
    height: 45%;
    width: 100%;
    border-bottom: 3px white solid;
}

.tgh-button-cont
{
    margin: 0;
    padding: 5% 5% 5% 5%;
    height: 30%;
    width: 100%;
}

.tgh-row
{
    margin: 0;
    padding: 0;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.input-style
{
    width: 85%;
    border: 3px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    font-style: italic;  
}

.input-button
{
    font-style: normal;
}

.input-button:hover
{
    background-color: white;
    color: black;
    font-weight: bold;
}

.error-msg
{
    color: red;
    font-size: 15px;
}