.teams-main-container
{
    margin: 0;
    padding: 2% 0% 0% 0%;
    height: 100%;
    overflow: auto;
}

.teams-container
{
    position: relative;
}

.teams-absolute-container
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;    
}

.tmlefcol
{
    position: relative;
}

.tm-fixed-container
{
    padding: 0% 3% 0% 0%;
    position: fixed;
}

.tmlcrow
{
    height: 5%;
    margin: 0% 0% 4% 0%;
}

.tg-info-block
{
    margin: 0% 0% 10% 0%;
    padding:0;
    width: 24vw;
    height: 20vh;
}

.tg-info-block:hover
{
    margin: -1% 0% 1.5% 0%;
    cursor: pointer;
}

.team-info-block
{
    margin: 0% 0% 1.5% 0%;
    padding:0;
    width: 24vw;
    height: 20vh;
}

.team-info-block:hover
{
    margin: -1% 0% 1.5% 0%;
    cursor: pointer;
}

#search-team-element
{
    border: 4px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    font-style: italic; 
}

.tmbutton-style
{
    border: 4px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.tmbutton-style:hover
{
    background-color: white;
    color: black;
    font-weight: bold;
}

.filter-team-container
{
    margin: 0;
    padding: 3% 3% 3% 3%;
    border: 4px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);    
}

label
{
    font-size: 18px;
    color :white;
}

.checkbox-style
{
    margin: 0% 2% 0% 0%;
    height: 15px;
    width:  15px;
}

