.user-comment-container
{
    height: 50%; 
    margin: 0;
    padding: 1% 1% 1% 1%;
    border: 4px white solid;
    border-radius: 20px;
}

.prof-r-col
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.user-comment-img
{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.user-comment-name
{
    margin: 0;
    padding: 0% 0% 0% 1%;
    height: 40%;
    color:white;    
}

.comment-name-owner
{
    color:yellowgreen;    
}
.user-comment-text
{
    margin: 0;
    padding: 0;
    height: 60%;
}

.comment-date
{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.block-cont-head
{
    margin: 0;
    padding: 0;
    color: yellowgreen;
    font-size: 17px;
    font-weight: bold;
}

.block-cont-text
{
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.delete-comment-button
{
    border: 2px white solid;
    border-radius: 10px;
    background-color: darkred;
    color:white;
}

.delete-comment-button:hover
{
    background-color: red;
}
