.match-info-main-container
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.match-info-container
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    border:4px white solid;
    border-radius: 20px;
}

.match-info-user-container
{
    padding: 0;
    margin: 0;
    position: relative;
    overflow: scroll;
}

.match-info-user-absolute-container
{
    height: 100%;
    width: 100%;
    position: absolute;
}

.match-info-text-container
{
    padding: 4% 4% 4% 4%;
}

.match-info-title
{
    margin: 0% 0% 4% 0%;
    padding: 0;
    color:yellowgreen;
    font-size: 35px;       
}

.match-info-header
{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 20px;   
}

/*Добавить еще кнопку!*/

.match-info-text
{
    margin: 0% 0% 2% 0%;
    padding: 0;
    color:yellowgreen;
    font-size: 18px;       
}

.match-join-button-container
{
    margin: 20% 0% 0% 0%;
}

.match-join-button
{
    margin:0;
    margin:0;
    border: 4px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    color:white;
}

.match-join-button:hover
{
    background-color: white;
    color:black;
    font-weight: bold;
}