.message-container
{
    position: relative;
    margin: 0;
    padding: 0;
    border: 5px white solid;
    border-radius: 20px;
}

.message-back-block
{
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    border-radius: 20px;
    z-index: -1;   
}

.message-block-content
{
    margin: 0;
    padding: 5% 5% 5% 5%;
}

.message-block-column
{
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;

}

#message-profile-image
{
    width: 50px;
    height: 50px;
}

.mess-owner-name
{
    margin: 0;
    color:yellowgreen;
}

.message-text
{
    height: 90%;
}