.player-container
{
    position: relative;
    margin: 0;
    padding: 0;
    border: 5px white solid;
    border-radius: 20px;
}

.player-container:hover
{
    cursor: pointer;
}


.player-back-block
{
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    border-radius: 20px;
    z-index: -1;   
}

.player-block-content
{
    margin: 0;
    padding: 4% 2% 4% 2%;
}

.player-block-column
{
    padding: 0;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;

}

.invite-button
{
    color: white;
    background-color: green;
    border: none;
    border-radius: 0px 0px 15px 15px;
}

.invite-button:hover
{
    color: green;
    font-weight: bold;
    background-color: white;
}

.pl-danger-button
{
    color: white;
    background-color: red;
    z-index: 1;
}

.pl-danger-button:hover
{
    background-color: red;
}