.profile-container
{
    height: 100%;
    margin: 0% 3% 0% 3%;
    background-color: rgba(0,0,0,0.6);
    border:4px white solid;
    border-radius: 20px;
}

.profile-info-container
{
    height: 50%;
    padding: 2% 2% 2% 2%;
    border-bottom: 4px white solid;
    border-radius: 20px;
}

.profile-image
{
    width: 225px;
    height: 225px;
}

.prtext
{
    margin: 0;
    color:white;
    font-size: 18px;
}

.pruser-name
{
    color:white;
    margin: 0% 0% 2% 0%;
    font-size: 30px;
}

.icon-row
{
    margin: 2% 0% 0% 0%;
    height: 30%;
}

.foot-field-img
{
    width: 70px;
    height: 65px;
    filter: invert(80%); 
}

.foot-ball-img
{
    width: 55px;
    height: 55px;
    filter: invert(80%);     
}

.foot-assist-img
{
    width: 55px;
    height: 55px;
    filter: invert(80%);         
}

.img-text
{
    margin: 0;
    padding: 0;
    color:white;
}

.img-number
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100;
    color:white;
    line-height: 1;
    font-size: 40px;
    color:yellowgreen;          
}

.profile-comment-container
{
    height: 50%;
    padding: 0;
    margin: 0% 0% 0% 0%;
    border-top: 4px white solid;
    border-radius: 20px;
    color:white;
}

.comment-view-container
{
    position: relative;
    margin: 0;
    padding: 0;
    height: 80%;
    overflow: auto;
}

.some-col
{
    position: absolute;
}

.comment-send-container
{
    margin: 0;
    padding: 0;
    height: 20%;
    border-top: 4px white solid;
}

.comment-send-area
{
    padding: 0;
    margin: 0;
    border-right: 4px white solid;    
}

.comment-enter-button
{
    padding: 0% 0% 0% 2%;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 20px;
}

.comment-send-button
{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;
    background-color: white;
}

.comment-send-button:hover
{
    background-color: rgb(0,0,0);
    border-color:white;
    color:white;
    font-weight: bold;
}

.profile-button
{   
    border: 4px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    color:white;
}

.profile-button:hover
{
    color: black;
    font-weight:500;
    background-color: white;
}

/* ------------------------------------------------------ */

.user-type
{
    color: yellowgreen;
    font-size: 20px;
    justify-content: center;
}

.admin-button
{
    height: 7%;
    margin-top: 2%;
}

.danger-button
{
    color: white;
    background-color: red;
}

.danger-button:hover
{
    background-color: #8B0000;    
}

.save-button
{
    background-color: yellowgreen;        
}

.save-button:hover
{
    background-color: darkgreen;        
}

.admin-edit
{
    font-size: 30px;
    width: 90%;
    height: 60%;
}

.edit-input
{
    height: 100%;
    width: 30%;
}

.select-file-input
{
    width: 75%;
    height: 100%;
    margin: -13% 0% 0% 0%;
}