#userprofile-container{
    padding: 9% 0% 0% 0%;
}

.upnav-container
{
    height: 100%;
    border-right: 4px white solid;
    border-top: 4px white solid;
    border-bottom: 4px white solid;
    background-color: rgba(0,0,0,0.8);
}

.upnav-item
{
    padding: 1% 0 1% 3%;
    border-bottom: 4px white solid;    
}

.upnav-item:hover
{
    background-color: white;    
}

.upnav-item:hover > .upnav-item-link
{
    color: black;
}

.upnav-item-link
{
    font-size: 18px;
    font-weight: bold;
    color:white;
}

h1{
    color:white;
}

.notifi-count
{
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}
.upnav-item:hover .notifi-count
{
    color: white;
    background-color: black;
}
