.team-info-main-container
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.team-info-container
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.6);
    border:4px white solid;
    border-radius: 20px;
}

.team-info-user-container
{
    padding: 0;
    margin: 0;
    position: relative;
    overflow: scroll;
}

.team-info-user-absolute-container
{
    height: 100%;
    width: 100%;
    position: absolute;
}

.team-info-message-container
{
    height: 90%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: scroll;
}

.team-info-message-absolute-container
{
    width: 100%;
    position: absolute;
}

.team-info-text-container
{
    padding: 1% 1% 1% 1%;
}

.team-info-text-container2
{
    margin: 0;
    padding: 0;
    height: 90%;
}

.message-send-container
{
    margin: 0;
    padding: 0;
    height: 10%;
    border-top: 4px white solid;
}

.message-send-area
{
    padding: 0;
    margin: 0;
    border-right: 4px white solid;    
}

.message-enter-button
{
    padding: 0% 0% 0% 2%;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.message-send-button
{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;
    background-color: white;
}

.team-info-title
{
    padding: 0;
    margin: 0;
    height: 10%;
    line-height: 100%;
    color:yellowgreen;
    font-size: 50px;     
}

.team-info-column
{
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 0% 2% 0% 2%;
}

.team-desc-row
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}

.team-image-cont
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.team-image
{
    width: 300px;
    height: 300px;
}

.team-desc
{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.team-info-header
{
    margin: 0;
    padding: 0;
    width: 100%;
    color:yellowgreen;
    font-size: 17px;
}

.team-info-text
{
    margin: 0% 0% 2% 0%;
    padding: 0;
    color: white;
    font-size: 17px;       
}

.team-join-button-container
{
    margin: 20% 0% 0% 0%;
}

.team-join-button
{
    margin:0;
    margin: 2% 0% 0% 0%;
    border: 4px white solid;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    color:white;
}

.team-join-button:hover
{
    background-color: white;
    color:black;
    font-weight: bold;
}

/* ----------------------------------------------------------- */
/*       Стили для карточки профиля команд пользователя        */

.team-switch-cont
{
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
}

.team-switch
{
    width: 100%;
    border-bottom: 3px white solid;
    background-color: rgba(0,0,0,0.6);
    color:yellowgreen;
    font-style: italic;
    font-weight: bold;  
    font-size: 20px;
}

.team-mess-cont
{
    width: 100%;
    height: 90%;
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* Здесь начинается админ, я его пока что еще не трогал */

.match-admin-button
{
    margin: 2% 0% 0% 0%;
    height: 7%;
}

.match-just-button
{
    background-color: white;
}

.match-just-button:hover
{
    background-color: yellowgreen;
}

.match-danger-button
{
    color: white;
    background-color: red;
}

.match-danger-button:hover
{
    cursor: pointer;
    background-color: #8B0000;    
}

.match-full-text
{
    color: red;
    font-size: 23px;
    text-align: center;
}